<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="logging.properties" />

    <appender name="logRoller" class="ch.qos.logback.core.rolling.RollingFileAppender">
    
        <file>../logs/app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <fileNamePattern>../logs/app.%i.log.zip</fileNamePattern>
        <minIndex>1</minIndex>
        <maxIndex>${logger.max.file.count}</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>${logger.max.file.size}</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%date{ISO8601};%level;%thread;%logger;%message%n</pattern>
        </encoder>    

        <filter class="com.axibase.tsd.collector.logback.Collector">
            <writer class="com.axibase.tsd.collector.writer.HttpStreamingAtsdWriter">
                <url>http://atsd_server:8088/api/v1/command/</url>
                <username>USERNAME</username>
                <password>PASSWORD</password>
            </writer>
            <sendMessage>
                <level>ERROR</level>
                <stackTraceLines>-1</stackTraceLines>
            </sendMessage>
        </filter>

    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="logRoller"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
