<!--
  ~ Copyright 2016 Axibase Corporation or its affiliates. All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License").
  ~ You may not use this file except in compliance with the License.
  ~ A copy of the License is located at
  ~
  ~ https://www.axibase.com/atsd/axibase-apache-2.0.pdf
  ~
  ~ or in the "license" file accompanying this file. This file is distributed
  ~ on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
  ~ express or implied. See the License for the specific language governing
  ~ permissions and limitations under the License.
  -->

<configuration>
    <param name="packagingDataEnabled" value="false"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="COUNTER" class="com.axibase.tsd.collector.logback.CountAppender">
        <filter class="com.axibase.tsd.collector.logback.Collector">
            <writer class="com.axibase.tsd.collector.logback.SendCounter"/>
            <level>WARN</level>
            <sendSeries>
                <minIntervalThreshold>10</minIntervalThreshold>
                <minIntervalSeconds>0</minIntervalSeconds>
                <repeatCount>0</repeatCount>
                <totalCountInit>
                    <level>INFO</level>
                </totalCountInit>
                <totalCountInit>
                    <level>WARN</level>
                </totalCountInit>
                <totalCountInit>
                    <level>ERROR</level>
                </totalCountInit>
            </sendSeries>
            <sendMessage>
                <every>7</every>
            </sendMessage>
        </filter>
    </appender>

    <appender name="TCP_SENDER" class="com.axibase.tsd.collector.logback.CountAppender">
        <filter class="com.axibase.tsd.collector.logback.Collector">
            <writer class="com.axibase.tsd.collector.writer.TcpAtsdWriter">
                <host>localhost</host>
                <!--CollectorTest.TEST_PORT = 35791;-->
                <port>35791</port>
            </writer>
            <!-- default: TRACE -->
            <level>INFO</level>
            <!-- default: $HOSTNAME -->
            <entity>localhost</entity>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg [%X{myKey}]%n</pattern>
            <sendSeries>
                <!-- 0+ default:1 -->
                <repeatCount>5</repeatCount>
                <!-- default: _total -->
                <totalSuffix>_sum</totalSuffix>
                <!-- default: 60 -->
                <intervalSeconds>1</intervalSeconds>
                <!-- default: 0 -->
                <minIntervalThreshold>10</minIntervalThreshold>
                <!-- default: 5 -->
                <minIntervalSeconds>0</minIntervalSeconds>
                <!--skip default-->
                <totalCountInit>
                    <level>INFO</level>
                </totalCountInit>
                <!--default-->
                <totalCountInit>
                    <level>ERROR</level>
                    <value>0</value>
                </totalCountInit>
                <!--new-->
                <totalCountInit>
                    <level>TRACE</level>
                    <value>0</value>
                </totalCountInit>
            </sendSeries>
            <!-- default: empty -->
            <sendMessage>
                <level>WARN</level>
                <stackTraceLines>5</stackTraceLines>
                <!-- default, ERROR:2 WARN:3 INFO:5 -->
                <sendMultiplier>1.5</sendMultiplier>
                <!-- default: 600 -->
                <resetIntervalSeconds>60</resetIntervalSeconds>
            </sendMessage>
            <tag>
                <name>ttt1</name>
                <value>vvv1</value>
            </tag>
            <tag>
                <name>ttt2</name>
                <value>k=1;k2=2;k3=3</value>
            </tag>
        </filter>
    </appender>

    <appender name="UDP_SENDER" class="com.axibase.tsd.collector.logback.CountAppender">
        <filter class="com.axibase.tsd.collector.logback.Collector">
            <writer class="com.axibase.tsd.collector.writer.UdpAtsdWriter">
                <host>localhost</host>
                <port>35793</port>
            </writer>
            <writerType>udp</writerType>
            <host>localhost</host>
            <port>35793</port>
            <level>WARN</level>
            <entity>localhost</entity>
            <sendSeries>
                <repeatCount>5</repeatCount>
                <intervalSeconds>30</intervalSeconds>
                <minIntervalThreshold>10</minIntervalThreshold>
                <minIntervalSeconds>0</minIntervalSeconds>
            </sendSeries>
            <sendMessage>
                <level>WARN</level>
                <every>7</every>
                <stackTraceLines>55</stackTraceLines>
                <sendMultiplier>1.0</sendMultiplier>
            </sendMessage>
        </filter>
    </appender>

    <appender name="HTTP_SENDER" class="com.axibase.tsd.collector.logback.CountAppender">
        <filter class="com.axibase.tsd.collector.logback.Collector">
            <!-- -->
            <writer class="com.axibase.tsd.collector.writer.HttpAtsdWriter">
                <url>http://localhost:8088/api/v1/commands/batch</url>
                <username>axibase</username>
                <password>11111</password>
            </writer>
            <writerType>http</writerType>
            <url>http://localhost:8088/api/v1/commands/batch</url>
            <username>axibase</username>
            <password>11111</password>
            <level>WARN</level>
            <entity>localhost</entity>
            <sendSeries>
                <repeatCount>5</repeatCount>
                <intervalSeconds>30</intervalSeconds>
                <minIntervalThreshold>1000</minIntervalThreshold>
                <minIntervalSeconds>0</minIntervalSeconds>
            </sendSeries>
            <sendMessage>
                <level>WARN</level>
                <every>10</every>
                <stackTraceLines>5</stackTraceLines>
                <sendMultiplier>1.0</sendMultiplier>
            </sendMessage>
        </filter>
    </appender>

    <logger name="test.tcp.write" level="debug" additivity="false">
        <appender-ref ref="TCP_SENDER"/>
    </logger>

    <logger name="test.udp.write" level="debug" additivity="false">
        <appender-ref ref="UDP_SENDER"/>
    </logger>

    <logger name="test.http.write" level="debug" additivity="false">
        <appender-ref ref="HTTP_SENDER"/>
    </logger>

    <root level="debug">
        <appender-ref ref="COUNTER"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>